/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* general styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body > .wrapper {
 max-width: 960px;
 margin: 0 auto;
}

img {
  max-width: 100%;
}

/* header styles */
.page-header {
  display: flex;
  padding: 1em;
  border-bottom: 3px solid #cc0000;
  margin-bottom: 1.5em;
}

.page-header .title {
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 0 auto;
  text-align: right;
}

.page-header .title .characteristic {
  display: block;
  font-size: 0.5em;
  font-weight: 400;
}

/* banner styles */
.banner {
  position: relative;
  overflow: hidden;
}

.banner::after {
  content: '';
  position: relative;
  display: block;
  width: 960px;
  padding-top: 53.333%;
  box-shadow: 0 0 40px white inset;
}

.banner .banner-background {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

.banner .text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  text-align: center;
  font-size: 2.5em;
  z-index: 2;
}

/* portfolio section styles */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .header {
  color: #cc0000;
  font-size: 1.5em;
  margin: 1em 5px 0.5em;
  width: 100%;
}

.portfolio-item {
  text-align: center;
  color: #aa0000;;
  margin-bottom: 1.5em;
}

.portfolio-item .title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0.3em 0;
}

.portfolio-item .link {
  font-size: 0.8em;
  text-decoration: none;
  color: inherit;
}


/* footer styles */
.footer {
  display: flex;
  width: 80%;
  max-width: 370px;
  flex-wrap: wrap;
  background-color: #cc0000;
  color: white;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 1em;
  margin: 100px auto 50px;
  border: 20px solid white;
  box-shadow: 0 0 0 1px #c00;
  transform: rotate(15deg);
  transition: transform 0.5s;
}

.footer:hover {
  transform: rotate(0deg);
}

.footer .purpose {
  font-size: 0.7em;
}

.footer a {
  color: inherit;
}